<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SynGEN AI | Abuse Detection </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='abuse_det_style.css') }}">
</head>
<body>

<div class="container">
    <nav class="navbar">

        <div class="nav-left">
            <a href="/profile">🏠 Dashboard</a>
            <a href="/summary">📝 Summarizer</a>
            <a href="/abuse_det">🚫 Abuse Detection</a>
            <a href="/sentiment_analysis">😊 Sentiment Analysis</a>
        </div>

        <div class="nav-right">
            <a href="/logout" class="logout-btn"> Log Out</a>
        </div>

    </nav>

    <h1>🤖 SynGEN AI</h1>
    <div class="card">

        <h2>🚫 Abuse Detection</h2>
        <p>Paste your text below and let AI do Abuse Detection.</p>

        <form action="/perform_abuse_det" method="POST">

            <label for="text">Enter your text</label>

            <textarea
                id="text"
                name="abuse_det"
                placeholder="Paste your text here..."
                required></textarea>

            <button type="submit">Detect Abuse</button>

        </form>

        {% if abuse_det %}

        <div class="output">
            <h3>Detect Abuse</h3>
            <p>{{ abuse_det }}</p>
        </div>

        {% endif %}

    </div>

</div>

</body>
</html>

</div>

</body>
</html>
