<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SynGEN AI | Sentiment Analysis </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='sentiment_analysis.css') }}">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="nav-left">
            <a href="/profile">🏠 Dashboard</a>
            <a href="/summary">📝 Summarizer</a>
            <a href="/abuse_det">🚫 Abuse Detection</a>
            <a href="/sentiment_analysis">😊 Sentiment Analysis</a>
        </div>
        <div class="nav-right">
            <a href="/logout" class="logout-btn"> Log Out</a>
        </div>
    </nav>
    <h1>🤖 SynGEN AI</h1>
    <div class="card">
        <h2>😊 Sentiment Analysis</h2>
        <p>Paste your text below and let AI do Sentiment Analysis.</p>
        <form action="/perform_sentiment_analysis" method="POST">
            <label for="text">Enter your text</label>
            <textarea
                id="text"
                name="sentiment_analysis"
                placeholder="Paste your text here..."
                required></textarea>
            <button type="submit">Sentiment Analysis</button>
        </form>
        {% if sentiment_analysis %}
        <div class="output">
            <h3>Sentiment Analysis</h3>
            <p>{{ sentiment_analysis }}</p>
        </div>
        {% endif %}

        {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}
    </div>
</div>
</body>
</html>
